<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>JSFApp</display-name>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>pages/public/index.xhtml</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<security-constraint>
		<display-name>IndexPage</display-name>
		<web-resource-collection>
			<web-resource-name>start</web-resource-name>
			<description />
			<url-pattern>/pages/protected/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>USERS</role-name>
			<role-name>ADMIN</role-name>
			<role-name>OWNER</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<description />
		<role-name>USERS</role-name>
	</security-role>
	<security-role>
		<description />
		<role-name>ADMIN</role-name>
	</security-role>
	<security-role>
		<description />
		<role-name>OWNER</role-name>
	</security-role>
	<login-config>
	<auth-method>FORM</auth-method>
	<form-login-config>
		<form-login-page>/pages/public/login.xhtml</form-login-page>
		<form-error-page>/pages/public/accessDenied.xhtml</form-error-page>
	</form-login-config>
</login-config>
</web-app>
